@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* Suavizado de fuentes para monitores modernos */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
}